<!doctype html>
<html lang="zxx">
    <head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Links Of CSS File -->
		<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/css/flaticon.css">
		<link rel="stylesheet" href="/assets/css/remixicon.css">
		<link rel="stylesheet" href="/assets/css/animate.min.css">
		<link rel="stylesheet" href="/assets/css/font-awesome.min.css">
		<link rel="stylesheet" href="/assets/css/editor.css">
		<link rel="stylesheet" href="/assets/css/style.css">
		<link rel="stylesheet" href="/assets/css/responsive.css">
		
		<!-- Favicon -->
		<link rel="icon" type="image/png" href="/assets/images/favicon.png">
		<!-- Title -->
		<title>The Web Academia</title>
    </head>

    <body>
		<!-- Start Preloader Area -->
		<div class="preloader" id="loader-style">
			<div class="preloader-wrap">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
		<!-- End Preloader Area -->
		
		<!-- Start Navbar Area --> 
		<%- include('../partials/head') %>
		<!-- End Navbar Area -->

		<!-- Start Page title Area -->
		<div class="page-title-area ptb-100">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-6 col-md-4">
						<div class="page-title-content">
							<h2><%= article.title %></h2>
						</div>
					</div>

					<div class="col-lg-6 col-md-8">
						<div class="page-title-list">
							<ul>
								<li>
									<a href="/api/v1/users/<%= article.user._id %>" class="user-id">
										<img src="<%= article.user.profilePicture.secure_url %>" alt="Image" height="50" width="50">
										<span><%= article.user.name %></span>
									</a>
								</li>
								<li>
									<%= new Date(article.createdAt.toISOString()).toLocaleDateString() %>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Page title Area -->

		<% if(user != undefined && user._id.toString() === article.user._id.toString()) { %>
			<div class="container">
				<div class="row">
					<div class="col-lg-5 my-5">
						<div class="right-siderbar-common">
							<a href="/api/v1/articles/<%= article._id %>/edit" class="default-btn">
								Edit this post
							</a>
						</div>
					</div>
	
					<div class="col-lg-5 my-5">
						<div class="right-siderbar-common">
							<a href="/api/v1/articles/<%= article._id %>/delete" class="default-btn">
								Delete this post
							</a>
						</div>
					</div>
				</div>
			</div>
		<% } %>
		

		<!-- Start Blog Details Area -->
		<div class="blog-details-area ptb-100">
			<div class="container">
				<div class="row">
					<div class="col-lg-8">
						<div class="blog-details-content">
							
							<img src="<%= article.coverImage.secure_url %>" alt="Image">
							<p>
								<%= article.body %>
							</p>
							<ul class="social-icon">
								<li>
									<span>Share:</span>
								</li>
								<li>
									<a href="#" target="_blank">
										<i class="ri-facebook-fill"></i>
									</a>
								</li>
								<li>
									<a href="#" target="_blank">
										<i class="ri-twitter-line"></i>
									</a>
								</li>
								<li>
									<a href="#" target="_blank">
										<i class="ri-linkedin-fill"></i>
									</a>
								</li>
								<li>
									<a href="#" target="_blank">
										<i class="ri-instagram-line"></i>
									</a>
								</li>
							</ul>

							<ul class="answerss d-flex justify-content-between align-items-center">
								<li>
									<h3><%= article.comments.length %> Comments</h3>
								</li>
								
							</ul>
							<% if(article.comments.length > 0) { %>
							<% article.comments.reverse().forEach(comment => { %>
								<div class="answer-question-details like-dislike">
									<div class="d-flex">
										<div class="link-unlike flex-shrink-0">
											<a href="/api/v1/users/<%= comment.user._id %>">
												<img src="<%= comment.user.profilePicture.secure_url %>" alt="Image"  style="border-radius: 50%; width: 48px; height: 48px;">
											</a>
										</div>

										<div class="flex-grow-1 ms-3">
											<ul class="latest-answer-list">
												<li>
													<a href="/api/v1/users/<%= comment.user._id %>"><%= comment.user.name %></a>
												</li>
												<li>
													<span>Posted on: <%= new Date(comment.createdAt).toLocaleDateString() %></span>
												</li>
												<% if(user != undefined && user._id.toString() === comment.user.toString()) { %>
												<button class="py-2 px-3">
													<a href="/api/v1/answers/<%= comment._id %>/edit">Edit</a>
												</button>
												<button class="py-2 px-3">
													<a href="/api/v1/answers/<%= comment._id %>/delete">Delete</a>
												</button>
												<% } %>
												<!-- <li class="reports">
													<a href="#" class="report">
														<i class="ri-error-warning-line"></i>
														Report
													</a>
												</li> -->
											</ul>
											<p><%= comment.text  %></p>
										</div>
									</div>
								</div>
							<% }) %>
							
							<% } %>
							<br>
							<br>

							<% if(user != undefined) { %>
								<div class="leave-form">
									<h3>Leave A Comment</h3>
									<form method="post" action="/api/v1/articles/<%= article._id %>/comments/" enctype="multipart/form-data">
										<div class="row">
											<div class="col-lg-12">
												<div class="form-group">
													<label>Your Comment</label>
													<textarea name="text" class="form-control" id="message" rows="6" placeholder="Write your comment"></textarea>
												</div>
											</div>
	
											<div class="col-lg-12">
												<div class="form-group mb-0">
													<button type="submit" class="default-btn">Send Comment</button>
												</div>
											</div>
										</div>
									</form>
								</div>
							<% } %>
							
						</div>
					</div>

					<div class="col-lg-4">
						<div class="right-siderbar">
							<div class="right-siderbar-common">
								<a href="/api/v1/questions/add" class="default-btn">
									Ask a question
								</a>
							</div>

							<div class="right-siderbar-common">
								<a href="/api/v1/articles/add" class="default-btn">
									Publish an article
								</a>
							</div>
							<%- include('../partials/count_documents', {count}) %>
							<%- include('../partials/recent_articles', {recentArticles}) %>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Blog Details Area -->

		<!-- Start Footer Area -->
		<%- include('../partials/footer') %>
		<!-- End Footer Area -->

		<!-- Start Go Top Area -->
		<div class="go-top">
			<i class="ri-arrow-up-s-fill"></i>
			<i class="ri-arrow-up-s-fill"></i>
		</div>
		<!-- End Go Top Area -->

        <!-- Links of JS File -->
        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/bootstrap.bundle.min.js"></script>
		<script src="/assets/js/form-validator.min.js"></script>
		<script src="/assets/js/contact-form-script.js"></script>
		<script src="/assets/js/ajaxchimp.min.js"></script>
		<script src="/assets/js/editor.js"></script>
		<script src="/assets/js/custom.js"></script>
    </body>
</html>