<!doctype html>
<html lang="zxx">
    <head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Links Of CSS File -->
		<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/css/flaticon.css">
		<link rel="stylesheet" href="/assets/css/remixicon.css">
		<link rel="stylesheet" href="/assets/css/animate.min.css">
		<link rel="stylesheet" href="/assets/css/font-awesome.min.css">
		<link rel="stylesheet" href="/assets/css/editor.css">
		<link rel="stylesheet" href="/assets/css/style.css">
		<link rel="stylesheet" href="/assets/css/responsive.css">
		
		<!-- Favicon -->
		<link rel="icon" type="image/png" href="/assets/images/favicon.png">
		<!-- Title -->
		<title>The Web Academia</title>
    </head>

    <body>
		<!-- Start Preloader Area -->
		<div class="preloader" id="loader-style">
			<div class="preloader-wrap">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
		<!-- End Preloader Area -->
		
		<!-- Start Navbar Area --> 
			<%- include('../partials/head', {user}) %>
		<!-- End Navbar Area -->

		<!-- Start Banner Area -->
		<div class="banner-area">
			<div class="container-fluid">
				<div class="row align-items-center">
					<div class="col-lg-6">
						<div class="banner-content">
							<h1>The Web Academia</h1>
							<h3>Share & grow the world's <span>knowledge</span>!</h3>
							<p>We connect people that are keen to share their knowledge.</p>
							<a href="/api/v1/about" class="default-btn">
								Know More
							</a>
						</div>
					</div>

					<div class="col-lg-6 pe-0">
						<div class="banner-img">
							<img src="/assets/images/Presidency_logo.svg.png" alt="Image">
							<img src="/assets/images/banner/shape-1.png" alt="Image" class="shape shape-1">
							<img src="/assets/images/banner/shape-2.png" alt="Image" class="shape shape-2">
							<img src="/assets/images/banner/shape-3.png" alt="Image" class="shape shape-3">
							<img src="/assets/images/banner/shape-4.png" alt="Image" class="shape shape-4">
							<img src="/assets/images/banner/shape-5.png" alt="Image" class="shape shape-5">
							<img src="/assets/images/banner/shape-6.png" alt="Image" class="shape shape-6">
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Banner Area -->

		<!-- Start Main Content Area -->
		<div class="main-content-area ptb-100">
			<div class="container">
				<div class="row">
					<div class="col-lg-8">
						<div class="middull-content">
							<div class="tab-content" id="myTabContent">
								<div class="tab-pane fade show active" id="recent-questions" role="tabpanel" aria-labelledby="recent-questions-tab">
									
									<% questions.reverse().forEach(question => { %>
										<div class="single-qa-box like-dislike">
											<div class="d-flex">
												<div class="link-unlike flex-shrink-0">
													<a href="#">
														<img src="<%= question.user.profilePicture.secure_url %>" alt="Image" height="50" width="50">
													</a>
												</div>
	
												<div class="flex-grow-1 ms-3">
													<ul class="graphic-design">
														<li>
															<a href="#"><%= question.user.name %></a>
														</li>
														<li>
															<% if(question.answers.length > 0) { %>
															<span>Latest Answer: <%= new Date(question.answers.slice(-1)[0].createdAt.toISOString()).toLocaleDateString() %></span>
															<% } %>
														</li>
														<li>
															<span>In:</span>
															<a href="#" class="graphic">
																<%= question.branch %>
															</a>
														</li>
													</ul>
	
													<h3>
														<a href="/api/v1/questions/<%= question._id %>">
															<%= question.title %>
														</a>
													</h3>
													<img src="<%= question.coverImage.secure_url %>" alt="Cover Image">
													<p></p>

													<ul class="tag-list">
														<li>
															Subject: <a href="#"><%= question.subject %></a>
														</li>
													</ul>
													<% if(question.description) { %>
														<% if(question.description.length < 108) { %>
															<%= question.description %>
														<% } else { %>
														 <p><%= question.description.substring(0,108) %>...</p>
														 <% } %>
													<% } else { %>
														<p>No Description Available.</p>
													<% } %>
													<hr style="background-color:#b3b3b3">
	
													<div class="d-flex justify-content-between align-items-center">
														<ul class="anser-list">
															<li>
																<a href="#">
																	<%= question.answers.length %> Answers
																</a>
															</li>
														</ul>
	
														<a href="#" class="default-btn">
															Answer
														</a>
													</div>
												</div>
											</div>
										</div>
									<% }) %>
									

									<!-- <div class="single-qa-box like-dislike">
										<div class="d-flex">
											<div class="link-unlike flex-shrink-0">
												<a href="#">
													<img src="/assets/images/user/user-1.jpg" alt="Image">
												</a>
											</div>

											<div class="flex-grow-1 ms-3">
												<ul class="graphic-design">
													<li>
														<a href="#">Anamay Singh</a>
													</li>
													<li>
														<span>Latest Answer: 14 hours ago</span>
													</li>
													<li>
														<span>In:</span>
														<a href="#" class="graphic">
															Department_Name
														</a>
													</li>
												</ul>

												<h3>
													<a href="queations-details.html">
														If you open Illustrator by dragging the Photoshop file, why it becomes a JPG file
													</a>
												</h3>

												<p>Sed porttitor lectus nibh. Nulla porttitor accumsan tincidunt. Donec rutrum congue leo eget malesuada. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus rutrum congue leo eget malesuada tincidunt.</p>

												<ul class="tag-list">
													<li>
														<a href="#">Subject_Name</a>
													</li>
												</ul>

												<div class="d-flex justify-content-between align-items-center">
													<ul class="anser-list">
														<li>
															<a href="#">
																2 Answers
															</a>
														</li>
													</ul>

													<a href="#" class="default-btn">
														Answer
													</a>
												</div>
											</div>
										</div>
									</div>

									<div class="single-qa-box like-dislike">
										<div class="d-flex">
											<div class="link-unlike flex-shrink-0">
												<a href="#">
													<img src="/assets/images/user/user-1.jpg" alt="Image">
												</a>
											</div>

											<div class="flex-grow-1 ms-3">
												<ul class="graphic-design">
													<li>
														<a href="#">Anamay Singh</a>
													</li>
													<li>
														<span>Latest Answer: 14 hours ago</span>
													</li>
													<li>
														<span>In:</span>
														<a href="#" class="graphic">
															Department_Name
														</a>
													</li>
												</ul>

												<h3>
													<a href="queations-details.html">
														If you open Illustrator by dragging the Photoshop file, why it becomes a JPG file
													</a>
												</h3>

												<p>Sed porttitor lectus nibh. Nulla porttitor accumsan tincidunt. Donec rutrum congue leo eget malesuada. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus rutrum congue leo eget malesuada tincidunt.</p>

												<ul class="tag-list">
													<li>
														<a href="#">Subject_Name</a>
													</li>
												</ul>

												<div class="d-flex justify-content-between align-items-center">
													<ul class="anser-list">
														<li>
															<a href="#">
																2 Answers
															</a>
														</li>
													</ul>

													<a href="#" class="default-btn">
														Answer
													</a>
												</div>
											</div>
										</div>
									</div>

									<div class="single-qa-box like-dislike">
										<div class="d-flex">
											<div class="link-unlike flex-shrink-0">
												<a href="#">
													<img src="/assets/images/user/user-1.jpg" alt="Image">
												</a>
											</div>

											<div class="flex-grow-1 ms-3">
												<ul class="graphic-design">
													<li>
														<a href="#">Anamay Singh</a>
													</li>
													<li>
														<span>Latest Answer: 14 hours ago</span>
													</li>
													<li>
														<span>In:</span>
														<a href="#" class="graphic">
															Department_Name
														</a>
													</li>
												</ul>

												<h3>
													<a href="queations-details.html">
														If you open Illustrator by dragging the Photoshop file, why it becomes a JPG file
													</a>
												</h3>

												<p>Sed porttitor lectus nibh. Nulla porttitor accumsan tincidunt. Donec rutrum congue leo eget malesuada. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus rutrum congue leo eget malesuada tincidunt.</p>

												<ul class="tag-list">
													<li>
														<a href="#">Subject_Name</a>
													</li>
												</ul>

												<div class="d-flex justify-content-between align-items-center">
													<ul class="anser-list">
														<li>
															<a href="#">
																2 Answers
															</a>
														</li>
													</ul>

													<a href="#" class="default-btn">
														Answer
													</a>
												</div>
											</div>
										</div>
									</div>

									<div class="single-qa-box like-dislike">
										<div class="d-flex">
											<div class="link-unlike flex-shrink-0">
												<a href="#">
													<img src="/assets/images/user/user-1.jpg" alt="Image">
												</a>
											</div>

											<div class="flex-grow-1 ms-3">
												<ul class="graphic-design">
													<li>
														<a href="#">Anamay Singh</a>
													</li>
													<li>
														<span>Latest Answer: 14 hours ago</span>
													</li>
													<li>
														<span>In:</span>
														<a href="#" class="graphic">
															Department_Name
														</a>
													</li>
												</ul>

												<h3>
													<a href="queations-details.html">
														If you open Illustrator by dragging the Photoshop file, why it becomes a JPG file
													</a>
												</h3>

												<p>Sed porttitor lectus nibh. Nulla porttitor accumsan tincidunt. Donec rutrum congue leo eget malesuada. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus rutrum congue leo eget malesuada tincidunt.</p>

												<ul class="tag-list">
													<li>
														<a href="#">Subject_Name</a>
													</li>
												</ul>

												<div class="d-flex justify-content-between align-items-center">
													<ul class="anser-list">
														<li>
															<a href="#">
																2 Answers
															</a>
														</li>
													</ul>

													<a href="#" class="default-btn">
														Answer
													</a>
												</div>
											</div>
										</div>
									</div>

									<div class="single-qa-box like-dislike">
										<div class="d-flex">
											<div class="link-unlike flex-shrink-0">
												<a href="#">
													<img src="/assets/images/user/user-1.jpg" alt="Image">
												</a>
											</div>

											<div class="flex-grow-1 ms-3">
												<ul class="graphic-design">
													<li>
														<a href="#">Anamay Singh</a>
													</li>
													<li>
														<span>Latest Answer: 14 hours ago</span>
													</li>
													<li>
														<span>In:</span>
														<a href="#" class="graphic">
															Department_Name
														</a>
													</li>
												</ul>

												<h3>
													<a href="queations-details.html">
														If you open Illustrator by dragging the Photoshop file, why it becomes a JPG file
													</a>
												</h3>

												<p>Sed porttitor lectus nibh. Nulla porttitor accumsan tincidunt. Donec rutrum congue leo eget malesuada. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus rutrum congue leo eget malesuada tincidunt.</p>

												<ul class="tag-list">
													<li>
														<a href="#">Subject_Name</a>
													</li>
												</ul>

												<div class="d-flex justify-content-between align-items-center">
													<ul class="anser-list">
														<li>
															<a href="#">
																2 Answers
															</a>
														</li>
													</ul>

													<a href="#" class="default-btn">
														Answer
													</a>
												</div>
											</div>
										</div>
									</div>

									<div class="single-qa-box like-dislike">
										<div class="d-flex">
											<div class="link-unlike flex-shrink-0">
												<a href="#">
													<img src="/assets/images/user/user-1.jpg" alt="Image">
												</a>
											</div>

											<div class="flex-grow-1 ms-3">
												<ul class="graphic-design">
													<li>
														<a href="#">Anamay Singh</a>
													</li>
													<li>
														<span>Latest Answer: 14 hours ago</span>
													</li>
													<li>
														<span>In:</span>
														<a href="#" class="graphic">
															Department_Name
														</a>
													</li>
												</ul>

												<h3>
													<a href="queations-details.html">
														If you open Illustrator by dragging the Photoshop file, why it becomes a JPG file
													</a>
												</h3>

												<p>Sed porttitor lectus nibh. Nulla porttitor accumsan tincidunt. Donec rutrum congue leo eget malesuada. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus rutrum congue leo eget malesuada tincidunt.</p>

												<ul class="tag-list">
													<li>
														<a href="#">Subject_Name</a>
													</li>
												</ul>

												<div class="d-flex justify-content-between align-items-center">
													<ul class="anser-list">
														<li>
															<a href="#">
																2 Answers
															</a>
														</li>
													</ul>

													<a href="#" class="default-btn">
														Answer
													</a>
												</div>
											</div>
										</div>
									</div> -->
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-1">
					</div>

					<div class="col-lg-3">
						<div class="right-siderbar">
							<div class="right-siderbar-common">
								<a href="/api/v1/questions/add" class="default-btn">
									Ask a question
								</a>
							</div>

							<div class="right-siderbar-common">
								<a href="/api/v1/articles/add" class="default-btn">
									Publish an article
								</a>
							</div>
							<%- include('../partials/count_documents', {count}) %>
							<%- include('../partials/recent_articles', {recentArticles}) %>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Mail Content Area -->

		<!-- Start Footer Area -->
		<%- include('../partials/footer') %>
		<!-- End Footer Area -->

		<!-- Start Go Top Area -->
		<div class="go-top">
			<i class="ri-arrow-up-s-fill"></i>
			<i class="ri-arrow-up-s-fill"></i>
		</div>
		<!-- End Go Top Area -->

        <!-- Links of JS File -->
        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/bootstrap.bundle.min.js"></script>
		<script src="/assets/js/form-validator.min.js"></script>
		<script src="/assets/js/contact-form-script.js"></script>
		<script src="/assets/js/ajaxchimp.min.js"></script>
		<script src="/assets/js/editor.js"></script>
		<script src="/assets/js/custom.js"></script>
    </body>
</html>