<!doctype html>
<html lang="zxx">
    <head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Links Of CSS File -->
		<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/css/owl.theme.default.min.css">
		<link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
		<link rel="stylesheet" href="/assets/css/flaticon.css">
		<link rel="stylesheet" href="/assets/css/remixicon.css">
		<link rel="stylesheet" href="/assets/css/meanmenu.min.css">
		<link rel="stylesheet" href="/assets/css/animate.min.css">
		<link rel="stylesheet" href="/assets/css/metismenu.min.css">
		<link rel="stylesheet" href="/assets/css/font-awesome.min.css">
		<link rel="stylesheet" href="/assets/css/editor.css">
		<link rel="stylesheet" href="/assets/css/style.css">
		<link rel="stylesheet" href="/assets/css/responsive.css">
		
		<!-- Favicon -->
		<link rel="icon" type="image/png" href="/assets/images/favicon.png">
		<!-- Title -->
		<title>The Web Academia</title>
    </head>

    <body>
		<!-- Start Preloader Area -->
		<div class="preloader" id="loader-style">
			<div class="preloader-wrap">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
		<!-- End Preloader Area -->
		
		<!-- Start Navbar Area --> 
		<div class="navbar-area">
			<div class="mobile-responsive-nav">
				<div class="container">
					<div class="mobile-responsive-menu">
						<div class="logo">
							<a href="/api/v1/">
								<img src="/assets/images/logo.png" alt="logo">
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="desktop-nav">
				<div class="container">
					<nav class="navbar navbar-expand-md navbar-light">
						<a class="navbar-brand" href="/api/v1/">
							<img src="/assets/images/logo.png" alt="logo">
						</a>

						<div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
							<ul class="navbar-nav m-auto">
								<li class="nav-item">
									<a href="/api/v1/" class="nav-link active">
										Home 
									</a>
								</li>
								<li class="nav-item">
									<a href="/api/v1/about" class="nav-link">
										About Us
									</a>
								</li>

								<li class="nav-item">
									<a href="/api/v1/articles" class="nav-link">
										Articles            
									</a>
								</li>

								<li class="nav-item">
									<a href="/api/v1/contact" class="nav-link">Contact Us</a>
								</li>

							</ul>

							<div class="others-options">
								<ul>
									<li>
										<a href="/api/v1/auth/login" class="active">
											Log in	
										</a>
									</li>
								</ul>
							</div>
						</div>
					</nav>
				</div>
			</div>

			<div class="others-option-for-responsive">
				<div class="container">
					<div class="dot-menu">
						<div class="inner">
							<div class="circle circle-one"></div>
							<div class="circle circle-two"></div>
							<div class="circle circle-three"></div>
						</div>
					</div>
					
					<div class="container">
						<div class="option-inner">
							<div class="others-options justify-content-center d-flex align-items-center">
								<ul>
									<li>
										<a href="/api/v1/auth/login" class="active">
											Log in	
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Navbar Area -->

		<!-- Start Mail Content Area -->
		<div class="main-content-area ptb-100">
			<div class="container">
				<div class="row">
					<div class="col-lg-7">
						<div class="middull-content">
							<form class="your-answer-form" method="post" action="/api/v1/questions/<%= question._id %>/edit" enctype="multipart/form-data">
								<div class="form-group">
									<h3>Edit Your Question</h3>
								</div>
								<div class="form-group">
									<label>Title</label>
									<input type="text" name="title" class="form-control" value="<%= question.title %>" required>
								</div>
								<div class="form-group">
									<label>Branch</label>

									<select name="branch" class="form-select form-control" aria-label="Default select example" required>
										<option value="dca" <%= question.branch == 'dca' ? 'selected' : ''%> >DCA</option>
										<option value="commerce" <%= question.branch == 'commerce' ? 'selected' : ''%> >Commerce</option>
										<option value="literature" <%= question.branch == 'literature' ? 'selected' : ''%> >Literature</option>
										<option value="science" <%= question.branch == 'science' ? 'selected' : ''%> >Science</option>
										<option value="others" <%= question.branch == 'others' ? 'selected' : ''%> >Others</option>
									</select>
								</div>
								<div class="form-group">
									<label>Subject</label>
									<input type="text" name="subject" class="form-control" value="<%= question.subject %>" required>
								</div>
								<div class="form-group">
									<label>Description</label><br/>
									<textarea  class="form-control" rows="5" name ="description" required><%= question.description %></textarea><br>
									<!-- <div id="txtEditor"></div> -->
								</div>
								<div class="form-group">
									<div class="file-upload-account-info">
										<!-- <input type="file" name="coverImage" id="file-2" class="inputfile"> -->
										<input type="file" name="coverImage" class="form-control" id="coverImage">
										<label class="upload">
											<i class="ri-link"></i>
											Upload Cover Image
										</label>
									</div>
								</div>
								<div class="form-group">
									<button type="submit" class="default-btn">Save Question</button>
								</div>
							</form>
						</div>
					</div>

					<div class="col-lg-1">
					</div>

					<div class="col-lg-3">
						<div class="right-siderbar">
							<div class="right-siderbar-common">
								<a href="/api/v1/questions/add" class="default-btn">
									Ask a question
								</a>
							</div>

							<div class="right-siderbar-common">
								<a href="/api/v1/articles/add" class="default-btn">
									Publish an article
								</a>
							</div>

							<div class="right-siderbar-common">
								<div class="answer-count">
									<ul class="d-flex flex-wrap">
										<li>
											<span>Questions</span>
											<span class="count">435</span>
										</li>
										<li>
											<span>Answers</span>
											<span class="count">435</span>
										</li>
										<li>
											<span>Best answers</span>
											<span class="count">324</span>
										</li>
										<li>
											<span>Users</span>
											<span class="count">2K</span>
										</li>
										<li>
											<span>Posts</span>
											<span class="count">852</span>
										</li>
										<li>
											<span>Comments</span>
											<span class="count">57</span>
										</li>
									</ul>
								</div>
							</div>

							<div class="right-siderbar-common">
								<div class="recent-post">
									<h3>
										<i class="ri-discuss-line"></i>
										Recent Articles
									</h3>

									<ul>
										<% recentArticles.forEach(element => { %>
											<li>
											<a href="/api/v1/articles/<%= element._id %>">
												<%= element.title %>
											</a>
											<p>on <%= new Date(element.createdAt.toISOString()).toLocaleDateString() %>
												by <a href="user.html">User Name</a></p>
										</li>
										<% }) %>
										
										
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Mail Content Area -->

		<!-- Start Footer Area -->
		<div class="footer-area pt-100 pb-70">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-sm-6">
						<div class="single-footer-widget style-two">
							<a href="/api/v1/">
								<img src="/assets/images/logo.png" alt="Image">
							</a>

							<p>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vivamus suscipit tortor eget felis porttitor volutpat. Pellentesque in ipsum id orci porta dapibus.</p>
						</div>
					</div>

					<div class="col-lg-2 col-sm-6">
						<div class="single-footer-widget style-two ml-15">
							<h3>Pages</h3>

							<ul class="import-link">
								<li>
									<a href="/api/v1/">Home</a>
								</li>
								<li>
									<a href="/api/v1/about">About Us</a>
								</li>
								<li>
									<a href="/api/v1/contact">Contact Us</a>
								</li>
								<li>
									<a href="/api/v1/articles">Articles</a>
								</li>
							</ul>
						</div>
					</div>

					<div class="col-lg-2 col-sm-6">
						<div class="single-footer-widget style-two">
							<h3>Explore</h3>

							<ul class="import-link">
								<li>
									<a href="/api/v1/questions/add">Ask question</a>
								</li>
								<li>
									<a href="/api/v1/faq">FAQs</a>
								</li>
								<li>
									<a href="/api/v1/privacypolicy">Privacy policy</a>
								</li>
								<li>
									<a href="/api/v1/termsandconditions">Terms & Conditions</a>
								</li>
							</ul>
						</div>
					</div>

					<div class="col-lg-2 col-sm-6">
						<div class="single-footer-widget style-two">
							<h3>Follow us</h3>

							<ul class="import-link">
								<li>
									<a href="#" target="_blank">Facebook</a>
								</li>
								<li>
									<a href="#" target="_blank">Instagram</a>
								</li>
								<li>
									<a href="#" target="_blank">Linkedin</a>
								</li>
								<li>
									<a href="#" target="_blank">Twitter</a>
								</li>
							</ul>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-footer-widget style-two">
							<h3>Contact Us</h3>

							<ul class="address-link">
								<li>
									<span>Call:</span>
									<a href="#">+91 7899877899</a>
								</li>
								<li>
									<span>Email:</span>
									<a href="mailto:thewebacademia@gmail.com">thewebacademia@gmail.com</a>
								</li>
								<li>
									<span>Address:</span>
									#33/2C & 2D, Kempapura Main Rd, Hebbal Kempapura, Bengaluru, Karnataka 560024
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Footer Area -->

		<!-- Start Go Top Area -->
		<div class="go-top">
			<i class="ri-arrow-up-s-fill"></i>
			<i class="ri-arrow-up-s-fill"></i>
		</div>
		<!-- End Go Top Area -->

        <!-- Links of JS File -->
        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/bootstrap.bundle.min.js"></script>
		<script src="/assets/js/meanmenu.min.js"></script>
		<script src="/assets/js/owl.carousel.min.js"></script>
		<script src="/assets/js/form-validator.min.js"></script>
		<script src="/assets/js/contact-form-script.js"></script>
		<script src="/assets/js/ajaxchimp.min.js"></script>
		<script src="/assets/js/metismenu.js"></script>
		<script src="/assets/js/editor.js"></script>
		<script src="/assets/js/like-dislike.min.js"></script>
		<script src="/assets/js/custom.js"></script>
    </body>
</html>